.back-button {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #2a2a2a;
  color: #FFFF;
}

.back-button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.back-button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.back-button:hover {
  box-shadow: 9px 9px 33px #00000000, -9px -9px 33px #4f4e4e;
  transform: translateY(-2px);
}
