.back-button {
    background: white;
    color: #121744;
    width: 100%;
    padding: 14px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    gap: 8px;
    transition: background 0.3s;
    display: inline-flex;
}

.back-button svg {
  fill: rgb(0, 0, 0);
}

.back-button:hover {
   background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}