.button {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.button,
.icon,
.text {
  transition: all 0.3s ease;
}

.text {
  transform: translateX(35px);
  color: white;
  font-weight: 600;
  white-space: nowrap;
}

.icon {
  position: absolute;
  right: 0;
  width: 39px;
  height: 100%;
  background-color: #121744;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(0);
}

.svg {
  width: 20px;
  height: 20px;
}

.button:hover {
  background-color: #121744;
}

.button:hover .text {
  color: transparent;
}

.button:hover .icon {
  width: 100%;
}

.button:active {
  border-color: #121744;
}

.button:active .icon {
  background-color: #121744;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
