.form-wrapper {
  padding: 32px;
  display: flex;
  justify-content: center;
}

.form-card {
  background: var(--card);
  width: 100%;
  max-width: 720px;
  padding: 32px;
  border-radius: var(--radius);
  border: 1px solid var(--border);
}

.form-card h2 {
  margin: 0;
  font-size: 22px;
}

.subtitle {
  color: var(--muted);
  margin-bottom: 24px;
  font-size: 14px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 13px;
  margin-bottom: 6px;
  color: var(--muted);
}

.form-group input,
.form-group select {
  padding: 10px 12px;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  background: transparent;
  color: var(--text);
  font-size: 14px;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: var(--primary);
}

.form-actions {
  margin-top: 28px;
  display: flex;
  justify-content: flex-end;
}

.btn-primary {
  background: var(--primary);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: var(--radius);
  font-size: 14px;
  cursor: pointer;
}

.btn-primary:hover {
  opacity: 0.9;
}

.form-group select {
  background-color: #111827;   /* dark card */
  color: var(--text);
  border: 1px solid var(--border);
    cursor: pointer;

}

/* options */
.form-group select option {
  background-color: #111827;
  color: var(--text);
}


.dateInput {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}

.dateInput:hover,
.dateInput:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}
