.header {
  padding: 24px 0;
  margin-bottom: 100px;
}

.nav-container {
  max-width: 1700px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.logo span {
  font-weight: 300;
  opacity: 0.8;
}
.toolbar {
  max-width: 1200px;
  margin: 20px auto 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn {
    padding: 12px 10px 12px 10px;
    width: 150px;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    
    cursor: pointer;
    margin-left: 20px;
    background: white;
    color: #121744;
}