:root {
  --glass-bg: rgba(255, 255, 255, 0.12);
  --glass-border: rgba(255, 255, 255, 0.25);
  --text-main: #ffffff;
  --text-muted: rgba(255,255,255,0.75);
  --radius-xl: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #090920 0%, #121744 40%, #121744 100%);
  color: var(--text-main);
}
.btn {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  background: white;
  color: #121744;
}

.btn-secondary {
  background: rgba(255,255,255,0.25);
  color: white;
}
