:root {
  --primary: #3b82f6;        /* Blue accent */
  --primary-light: #1e3a8a;  /* Dark blue background accent */

  --bg: #0f172a;             /* App background */
  --card: #111827;           /* Cards / table background */

  --text: #e5e7eb;           /* Main text */
  --muted: #9ca3af;          /* Secondary text */

  --border: #1f2937;         /* Subtle borders */
  --radius: 12px;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", "Segoe UI", sans-serif;
  background-color: var(--bg);
  color: var(--text);
}
